<html>
<head>
<title>{% block title %}{% endblock %}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<h1>{{ title }}</h1>
<ul>
{% for fname, entry, url in entries %}
  <li><a href="{{ url }}">{{ fname }}</a></li>
{% endfor %}
</ul>
<script>
cursor = "{{ cursor }}";
function loop() {
    $.get("/subscribe/" + cursor, function(resp) {
        if (resp["result"] == "refresh") {
            location.reload(true);
        } else {
            return loop();
        }
    }, "json");
}
loop();
</script
</body>
<html>
